# This requirements.in file specifies high-level dependencies in a human-readable format.
# To generate a requirements.txt file which contains fully-resolved dependencies run "pip-compile --no-emit-options" (requires pip-tools)
# The requirements.txt may be environment-dependent; users should run "pip-compile" for each python environment


ipykernel
napari-ome-zarr
napari-animation
iohub==0.3.0a7
waveorder[all]==3.0.2
viscy==0.3.2
ultrack==0.7.1
napari-iohub @ git+https://github.com/czbiohub-sf/napari-iohub.git@6a5d13f16af0b6a7865a117e9309a837743ee28c
biahub[all] @ git+https://github.com/czbiohub-sf/biahub.git@fd1bf458e50726ba1c9c4b2f989793c8887254c3
