# This requirements.in file specifies high-level dependencies in a human-readable format.
# To generate a requirements.txt file which contains fully-resolved dependencies run "pip-compile --no-emit-options" (requires pip-tools)
# The requirements.txt may be environment-dependent; users should run "pip-compile" for each python environment


viscy
waveorder[all]==3.0.0a0
napari-ome-zarr
napari-animation
ipykernel

# Added for advanced bioimage analysis and computational microscopy
# biahub @ git+https://github.com/czbiohub-sf/biahub.git@main


